.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
a {
  color: #EB5A5B;
}
.columns {
  margin: 0;
}
.inline-block {
  display: inline-block;
}
