html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
a {
  color: $red;
  text-decoration: none;
}
a:hover {
  color: $red;
  text-decoration: underline;
}

p {
  font-family: $helvetica;
}

.columns {
  margin: 0;
}
.inline-block {
  display: inline-block;
}