/* Helvetica */
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../../fonts/font/helvetica/HelveticaNeue-Bold.eot');
  src: url('../../fonts/font/helvetica/HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/font/helvetica/HelveticaNeue-Bold.woff') format('woff'),
  url('../../fonts/font/helvetica/HelveticaNeue-Bold.ttf')  format('truetype'),
  url('../../fonts/font/helvetica/HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'HelveticaNeue-Ultra';
  src: url('../../fonts/font/helvetica/HelveticaNeue-UltraLight.eot');
  src: url('../../fonts/font/helvetica/HelveticaNeue-UltraLight.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/font/helvetica/HelveticaNeue-UltraLight.woff') format('woff'),
  url('../../fonts/font/helvetica/HelveticaNeue-UltraLight.ttf')  format('truetype'),
  url('../../fonts/font/helvetica/HelveticaNeue-UltraLight.svg#HelveticaNeue-UltraLight') format('svg');
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../fonts/font/helvetica/HelveticaNeue.eot');
  src: url('../../fonts/font/helvetica/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/font/helvetica/HelveticaNeue.woff') format('woff'),
  url('../../fonts/font/helvetica/HelveticaNeue.ttf')  format('truetype'),
  url('../../fonts/font/helvetica/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}