/* Ultra */

@font-face {
  font-family: 'ultraregular';
  src: url('../../fonts/font/ultra/ultra-webfont.woff2') format('woff2'),
  url('../../fonts/font/ultra/ultra-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* Montserrat */

@font-face {
  font-family: 'montserratblack';
  src: url('../../fonts/font/montserrat/montserrat-black-webfont.woff2') format('woff2'),
  url('../../fonts/font/montserrat/montserrat-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratbold';
  src: url('../../fonts/font/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
  url('../../fonts/font/montserrat/montserrat-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratextrabold';
  src: url('../../fonts/font/montserrat/montserrat-extrabold-webfont.woff2') format('woff2'),
  url('../../fonts/font/montserrat/montserrat-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratextralight';
  src: url('../../fonts/font/montserrat/montserrat-extralight-webfont.woff2') format('woff2'),
  url('../../fonts/font/montserrat/montserrat-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratextralight_italic';
  src: url('../../fonts/font/montserrat/montserrat-extralightitalic-webfont.woff2') format('woff2'),
  url('../../fonts/font/montserrat/montserrat-extralightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratlight';
  src: url('../../fonts/font/montserrat/montserrat-light-webfont.woff2') format('woff2'),
  url('../../fonts/font/montserrat/montserrat-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'montserratmedium';
  src: url('../../fonts/font/montserrat/montserrat-medium-webfont.woff2') format('woff2'),
  url('../../fonts/font/montserrat/montserrat-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}