@font-face {
  font-family: 'icomoon';
  src:
          url('../../fonts/icon/icomoon.ttf?yw48s4') format('truetype'),
          url('../../fonts/icon/icomoon.woff?yw48s4') format('woff'),
          url('../../fonts/icon/icomoon.svg?yw48s4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter-logo:before {
  content: "\e901";
}
.icon-message:before {
  content: "\e939";
}
.icon-coffee-cup:before {
  content: "\e93a";
}
.icon-bitcoin:before {
  content: "\e93b";
}
.icon-instagram:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e934";
}

