/* Font */

$helveticabold: 'HelveticaNeue-Bold', 'roboto', sans-serif;
$helveticaultra: 'HelveticaNeue-Ultra', 'roboto', sans-serif;
$helvetica: 'HelveticaNeue', 'roboto', sans-serif;

/* Colors */
$navy   : #1E2D32;
$red    : #EB5A5B;
$black  : #222;
$white  : #fff;