/* Font */

$helveticabold: 'HelveticaNeue-Bold', 'roboto', sans-serif;
$helveticaultra: 'HelveticaNeue-Ultra', 'roboto', sans-serif;
$helvetica: 'HelveticaNeue', 'roboto', sans-serif;
$montserratblack: 'montserratblack', 'roboto', sans-serif;
$montserratextralight: 'montserratextralight', 'roboto', sans-serif;
$montserratlight: 'montserratlight', 'roboto', sans-serif;

/* Colors */

$white: #fff;
$navy: #1E2D32;
$red: #EB5A5B;