/* Font */

$ultra: 'ultraregular', sans-serif;
$montserratblack: 'montserratblack', 'roboto', sans-serif;
$montserratextralight: 'montserratextralight', 'roboto', sans-serif;
$bebas_neuebook: 'bebas_neuebook', sans-serif;
$bebas_neuebold: 'bebas_neuebold', sans-serif;
$bebas_neuethin: 'bebas_neuethin', sans-serif;

/* Colors */

$white: #fff;
$navy: #1E2D32;
$red: #EB5A5B;